article,
blockquote,
body,
div,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
img,
input,
label,
li,
p,
section,
select,
span,
table,
td,
tr,
ul {
    margin: 0;
    padding: 0
}

html {
    overflow-y: scroll;
    overflow-x: hidden
}

body {
    font-family: HelveticaNeueW01-Thin;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto!important;
    transition: .5s all
}

.container-big {
    max-width: 90%;
    margin: 0 auto;
}

.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    top: 0;
    z-index: 20;
    padding-top: 360px;
    opacity: 0;
    transition: 0.5s opacity;
    pointer-events: none
}

.loader a {
    text-align: center;
    width: 100%;
    display: block;
    pointer-events: none;
    z-index: 200;
    text-transform: uppercase;
    color: #000;
    text-decoration: none;
    font-size: 40px;
    font-family: PrestigeEliteMW01-Bold;
    letter-spacing: 10px
}

.loader.active {
    opacity: 1;
    pointer-events: auto
}

nav {
    position: fixed;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: #eee;
    z-index: 15;
    padding-top: 250px;
    right: -320px;
    padding-left: 80px
}

nav ul {
    list-style-type: none
}

nav ul li {
    text-align: left
}

nav ul li a {
    font-family: HelveticaNeueW01-45Ligh;
    font-size: 25px;
    text-transform: uppercase;
    color: #000;
    outline: 0;
    letter-spacing: 1.2px;
    line-height: 50px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all
}

nav ul li a:focus,
nav ul li a:hover {
    text-decoration: none;
    outline: 0
}

nav ul li a.active,
nav ul li a:hover {
    color: #828282
}

h1 {
    font-size: 36px
}

h2 {
    font-size: 16px
}

h3 {
    font-size: 13px;
    line-height: 17px;
    text-transform: uppercase
}

.italic {
    font-style: italic
}

.container {
    max-width: 1070px;
    padding: 0 68px
}

.container.no-padding {
    padding: 0
}

header {
    padding: 50px 0 43px;
    background-color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 16;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all
}

header.pulled-up {
    transform: translateY(-100%)
}

header .logo {
    float: left;
    cursor: pointer
}

header .logo h1 {
    font-family: PrestigeEliteMW01-Bold;
    letter-spacing: 7px;
    font-size: 28px
}

header .book-btn {
    font-size: 16px;
    color: #000;
    float: right;
    margin-right: 41px;
    text-decoration: none;
    margin-top: 4px;
    letter-spacing: 1.2px;
}

header .book-btn:hover {
    text-decoration: none
}

header .page-title {
    color: #8d5ef9;
    font-family: HelveticaNeueW01-Thin;
    font-size: 16px;
    text-transform: uppercase;
    display: block;
    margin-top: 6px;
    letter-spacing: 1.2px;
}

header .menu-toggle {
    height: 18px;
    width: 20px;
    display: block;
    float: right;
    text-decoration: none;
    outline: 0;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all;
    margin-top: 6px
}

header .menu-toggle.rotated {
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg)
}

header .menu-toggle span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    margin-bottom: 6px;
    transition: .4s all;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    -ms-transition: .4s all
}

header .menu-toggle span.first.transform {
    transform: translateY(8px);
    -webit-transform: translateY(8px);
    -moz-transform: translateY(8px);
    -ms-transform: translateY(8px)
}

header .menu-toggle span.third.transform {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px)
}

header .menu-toggle span.first.rotate2 {
    transform: translateY(8px) rotate(90deg);
    -webkit-transform: translateY(8px) rotate(90deg);
    -moz-transform: translateY(8px) rotate(90deg);
    -ms-transform: translateY(8px) rotate(90deg)
}

header .menu-toggle span:last-child {
    margin-bottom: 0
}

.book-table-container {
    position: relative;
    padding: 0 220px
}

.book-table-container .book-a-table {
    padding-top: 50px;
    display: none;
    width: 100%;
    margin-top: 80px
}

.book-table-container .book-a-table .this-bg {
    opacity: 0;
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 35px;
    transition: .6s all;
    -webkit-transition: .6s all;
    -moz-transition: .6s all;
    -ms-transition: .6s all
}

.book-table-container .book-a-table .this-bg.on {
    opacity: 1
}

.book-table-container .book-a-table .this-bg img {
    position: absolute;
    top: 31%;
    left: 50%
}

.book-table-container .book-a-table .this-bg img.rounds1 {
    margin: 422px 0 0 280px
}

.book-table-container .book-a-table .this-bg img.xzbz {
    margin: -89px 0 0 168px
}

.book-table-container .book-a-table .this-bg img.cross.cross1 {
    margin: 9px 0 0 -667px
}

.book-table-container .book-a-table h2 {
    font-family: HelveticaNeueW01-45Ligh;
    font-size: 22px;
    color: #000;
    text-align: left;
    letter-spacing: 2px;
    margin-bottom: 68px
}

.book-table-container .book-a-table form {
    position: relative;
    z-index: 1
}

.book-table-container .book-a-table form label {
    text-transform: uppercase;
    font-family: HelveticaNeueW01-Thin;
    margin-bottom: 10px
}

.book-table-container .book-a-table form input.form-control {
    border-radius: 0;
    border: 1px solid #000
}

.book-table-container .book-a-table form input.form-control.small {
    max-width: 57px
}

.book-table-container .book-a-table form h3 {
    font-family: HelveticaNeueW01-Thin;
    color: #000;
    font-size: 14px;
    margin-top: 37px
}

.book-table-container .book-a-table form textarea {
    width: 100%;
    min-height: 108px;
    border: 1px solid #000;
    font-size: 22px;
    color: #764fa0;
    resize: none;
    margin: 14px 0 18px
}

.book-table-container .book-a-table form span {
    font-size: 12px;
    font-family: HelveticaNeueW01-Thin;
    font-style: italic
}

.book-table-container .book-a-table form button {
    margin-top: 25px;
    display: block;
    background-color: #eee;
    border: 1px solid #000;
    font-size: 14px;
    outline: 0;
    padding: 7px 17px
}

.home-slider {
    position: relative
}

.home-slider .slide {
    min-height: 800px;
    transition: .9s transform;
    -webkit-transition: .9s transform;
    -moz-transition: .9s transform;
    -ms-transition: .9s transform
}

.home-slider .slide.building {
    background: url(../images/home-slider-img.jpg) center;
    background-size: cover
}

.home-slider .slick-prev {
    display: block;
    border: none;
    width: 14px;
    height: 24px;
    position: absolute;
    background: url(../images/home-slider-arrow-left.png) no-repeat;
    left: 70px;
    top: 45.2%;
    z-index: 10;
    text-indent: -9999px;
    outline: 0
}

.home-slider .slick-next {
    display: block;
    border: none;
    width: 14px;
    height: 24px;
    position: absolute;
    background: url(../images/home-slider-arrow-right.png) no-repeat;
    right: 70px;
    top: 45.2%;
    z-index: 10;
    text-indent: -9999px;
    outline: 0
}

footer {
    padding: 47px 0 52px;
    background-color: #eee;
    position: relative;
    z-index: 16
}

footer .contacts {
    float: left
}

footer .contacts a {
    font-family: HelveticaNeueW01-Thin;
    text-transform: uppercase;
    color: #000;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 2
}

footer .contacts h4 {
    font-size: 13px;
    font-family: HelveticaNeueW01-Thin;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2;
    color: #000
}

footer .contacts h4:nth-of-type(1) {
    margin-top: 23px
}

footer .gerber-logo {
    float: right
}

.about-content {
    margin-top: 70px;
    margin-bottom: 70px
}

.about-content .line {
    height: 1px;
    background-color: #eee;
    margin-bottom: 5px
}

.about-content p {
    font-family: PrestigeEliteMW01-Bold;
    font-size: 26px;
    line-height: 2
}

.about-content p span {
    color: #8d5ef9
}

.about-content .couples {
    margin-top: 70px
}

.about-content .couples img {
    width: 100%
}

.about-content .couples p {
    font-size: 16px;
    font-family: Helvetica
}

.page-content {
    padding-top: 115px;
    transition: .9s all;
    -webkit-transition: .9s all;
    -moz-transition: .9s all;
    -ms-transition: .9s all
}

.page-content.book-a-table-open {
    transform: translateY(806px)
}

.page-content.nav-open {
    transform: translateX(-320px)
}

.page-content .menus .container {
    position: relative;
    overflow: hidden;
    padding: 0 126px 73px
}

.page-content .menus .container .this-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 309px
}

.page-content .menus .container img {
    position: absolute;
    top: 31%;
    left: 50%
}

.page-content .menus .container img.rounds1 {
    margin: -2353px 0 0 -569px
}

.page-content .menus .container img.head {
    margin: -2380px 0 0 210px
}

.page-content .menus .container img.kost {
    margin: -2199px 0 0 -620px
}

.page-content .menus .container img.cross.cross1 {
    margin: -2139px 0 0 241px
}

.page-content .menus .container img.rounds2 {
    margin: -1859px 0 0 -245px
}

.page-content .menus .container img.cross.cross2 {
    margin: -1258px 0 0 135px
}

.page-content .menus .container img.hands {
    margin: -1014px 0 0 -395px
}

.page-content .menus .container img.rounds3 {
    margin: -800px 0 0 209px
}

.page-content .menus .container img.cross.cross3 {
    margin: -519px 0 0 -574px
}

.page-content .menus .container img.xzbz {
    margin: -488px 0 0 -429px
}

.page-content .menus .container img.xzbz-big {
    margin: 0 0 0 -355px
}

.page-content .menus .container img.xzbz-big2 {
    margin: 5831px 0 0 195px
}

.page-content .menus .container img.pants {
    margin: -111px 0 0 185px
}

.page-content .menus .container img.rounds4 {
    margin: -170px 0 0 -603px
}

.page-content .menus .container img.cross.cross4 {
    margin: 708px 0 0 278px
}

.page-content .menus .container img.rounds5 {
    margin: 144px 0 0 -518px
}

.page-content .menus .container img.rounds6 {
    margin: 491px 0 0 -614px
}

.page-content .menus .container img.boots-purple {
    margin: 1416px 0 0 -68px
}

.page-content .menus .container img.rounds7 {
    margin: 1102px 0 0 201px
}

.page-content .menus .container img.head2 {
    margin: 1750px 0 0 -40px
}

.page-content .menus .container img.xzbz2 {
    margin: 1250px 0 0 -548px
}

.page-content .menus .container img.cross.cross5 {
    margin: 1456px 0 0 -440px
}

.page-content .menus .container img.hands2 {
    margin: 2375px 0 0 -166px
}

.page-content .menus .container img.cross.cross6 {
    margin: 1658px 0 0 247px
}

.page-content .menus .container img.rounds8 {
    margin: 2737px 0 0 271px
}

.page-content .menus .container img.hands-second2 {
    margin: 3600px 0 0 -90px
}

.page-content .menus .container img.hands-second {
    margin: 6000px 0 0 100px
}

.page-content .menus .container img.cross.cross7 {
    margin: 2361px 0 0 -601px
}

.page-content .menus .container img.head3 {
    margin: 3570px 0 0 240px
}

.page-content .menus .container img.rounds9 {
    margin: 2791px 0 0 134px
}

.page-content .menus .container img.kost2 {
    margin: 3620px 0 0 -80px
}

.page-content .menus .container img.cross.cross8 {
    margin: 3020px 0 0 -500px
}

.page-content .menus .container img.cross.cross9 {
    margin: 4060px 0 0 340px
}

.page-content .menus .container img.boots {
    margin: 5000px 0 0 -579px
}

.page-content .menus .container .box-center {
    width: 100%;
    margin: 0 auto 70px;
    background-color: #eee;
    opacity: 0;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    padding: 50px 41px;
    position: relative;
    z-index: 9;
    float: left;
    letter-spacing: 1.2px;
    transform: translateY(100px)
}
.page-content .menus .container .box-center p {
	font-size: 13px;
}
.page-content .menus .container .box-center.big-box {
    padding: 50px 67px
}

.page-content .menus .container .box-center.big-box .col-md-6 {
    width: 45%;
    margin-left: 5%;
    padding-right: 50px
}

.page-content .menus .container .box-center.big-box .col-md-6:first-child {
    margin-left: 0
}

.page-content .menus .container .box-center.big-box .col-md-6.has-border {
    border-right: 1px solid #000;
    width: 48%
}

.page-content .menus .container .box-center.faded-in,
.page-content .menus .container .box-center.first-one {
    opacity: 1;
    transform: translateY(0)
}

.page-content .menus .container .box-center span {
    font-size: 13px;
    font-family: PrestigeEliteMW01-Bold
}

.page-content .menus .container .box-center.right {
    max-width: 370px;
    float: right
}

.page-content .menus .container .box-center.right.lower {
    margin-top: 768px
}

.page-content .menus .container .box-center.left {
    max-width: 370px;
    float: left
}

.page-content .menus .container .box-center span.origin {
    font-family: HelveticaNeueW01-Thin;
    font-size: 13px;
    text-transform: none
}

.page-content .menus .container .box-center span.dollar {
    font-size: 28px;
    margin-top: 15px;
    display: block;
}

.page-content .menus .container .box-center h1 {
    margin-bottom: 30px;
    font-family: PrestigeEliteMW01-Bold;
    letter-spacing: 3px
}

.page-content .menus .container .box-center h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: HelveticaNeueW01-75Bold;
    letter-spacing: 2px
}

.page-content .menus .container .box-center h2:nth-child(n+1) {
    margin-top: 20px
}

.page-content .menus .container .box-center h3 {
    font-family: HelveticaNeueW01-Thin;
    margin-top: 20px;
}

.page-content .menus .container .box-center .item {
    
}

.page-content .about .banner img {
    width: 100%
}

.page-content .gallery .controls {
   padding: 45px 0;
    -webkit-user-select: none
}

.page-content .gallery .controls .slick-prev {
    display: block;
    float: left;
    width: 12px;
    height: 21px;
    border: none;
    background: url(../images/left-arrow_09.png) no-repeat;
    background-size: contain;
    outline: 0;
    text-indent: -9999px;
    margin-left: 65px
}

.page-content .gallery .controls .slick-next {
    display: block;
    float: right;
    width: 12px;
    height: 21px;
    border: none;
    background: url(../images/right-arrow_09.png) no-repeat;
    background-size: contain;
    outline: 0;
    text-indent: -9999px;
    margin-right: 65px
}

.page-content .gallery .gallery-slider .gal-slide {
    margin-right: 20px;
    outline: 0
}

.page-content .gallery .gallery-slider .gal-slide img {
    max-width: auto;
    height: 750px;
}

.page-content .events .banner img {
    width: 100%
}

.page-content .events .events-content {
    padding: 69px 0 90px
}

.page-content .events .events-content h2 {
    font-size: 22px;
    text-align: center;
    font-family: HelveticaNeueW01-45Ligh;
    color: #000;
    letter-spacing: 2px;
    margin-bottom: 51px
}

.page-content .events .events-content form {
    position: relative;
    z-index: 1
}

.page-content .events .events-content form label {
    text-transform: uppercase;
     font-family:'HelveticaNeueW01-45Ligh';
    margin-bottom: 10px
}

.page-content .events .events-content form input.form-control {
    border-radius: 0;
    border: 1px solid #000
}

.page-content .events .events-content form input.form-control.small {
    max-width: 57px
}

.page-content .events .events-content form button {
    background-color: #eee;
    border: 1px solid #000;
    font-size: 14px;
    outline: 0;
    padding: 7px 17px
}

.page-content .events .events-content form .purple {
    display: block;
    color: #8d5ef9;
    font-size: 14px;
   
    margin-top: 35px;
    letter-spacing: 1px;
        text-transform: uppercase;
}

.page-content .events .events-content .container {
    position: relative;
    padding: 0 126px
}

.page-content .events .events-content .container .this-bg {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    top: 35px
}

.page-content .events .events-content .container .this-bg img {
    position: absolute;
    top: 31%;
    left: 50%
}

.page-content .events .events-content .container .this-bg img.rounds1 {
    margin: -82px 0 0 301px
}

.page-content .events .events-content .container .this-bg img.boots {
    margin: 137px 0 0 237px
}

.page-content .events .events-content .container .this-bg img.cross.cross1 {
    margin: 68px 0 0 -644px
}

.page-content .press h3 {
    font-family: HelveticaNeueW01-65Medi;
    font-size: 16px;
    margin-top: 25px;
    color: #000;
    letter-spacing: 1px
}

.page-content .press p {
    font-family: HelveticaNeueW01-Thin;
    font-size: 16px;
    margin: 16px 0 62px;
    color: #000;
    letter-spacing: 1px
}
