{% extends 'base.html' %}
{% block content %}
    <div class="about">
        <div class="banner background-image" style="background-image: url('{{ current.fields.heading.featuredimage }}'); ">
        </div>
        <div class="mobile-banner">
            <img src="{{ current.fields.heading.featuredimage }}" />
        </div>
        <div class="about-content">
            <div class="container">
               {{ current.fields.heading.description }}

               {% for couple in boxes.about.all %}
                {% if loop.index % 2 %}
                <div class="row couples">
                    <div class="col-md-6">
                        <p>{{ couple.fields.content }}</p>
                    </div>

                    <div class="col-md-6">
                        <img class="img-responsive" src="{{ couple.fields.featured_image }}" />
                    </div>
                </div>

                {% else %}
                    <div class="row couples">
                    <div class="col-md-6">
                        <img class="img-responsive" src="{{ couple.fields.featured_image }}" />
                    </div>

                    <div class="col-md-6">
                        <p>{{ couple.fields.content }}</p>

                    </div>
                </div>
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
