{% extends 'base.html' %}

{% block content %}
    <div class="events">
        
        <div class="events-content">
            <div class="container">
                <h2>{{ current.fields.heading.title }}</h2>
                <form action="/form_to_email/" enctype="multipart/form-data" method="post" class="bento">
                    {% csrf_token %}
                    <div style="display: none;">
                        <label>leave this field blank to prove your humanity
                            <input type="text" name="comment_body" value="" />
                        </label>
                    </div>
                    <input type="hidden" name="recipient" value="sgerber" />
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>DATE</label>
                                <input name="date" class="form-control" type="text" data-validation="date" data-validation-format="dd/mm/yyyy" data-validation-help="dd/mm/yyyy">
                            </div>
                            <div class="form-group">
                                <label>NUMBER OF GUESTS</label>
                                <input name="number_of_guests" data-validation="number" class="form-control small" type="text">
                            </div>
                            <div class="form-group">
                                <label>EMAIL</label>
                                <input name="email" class="form-control" type="email" data-validation="email">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>TYPE OF EVENT</label>
                                <input name="type_of_event" class="form-control" type="text" data-validation="required">
                            </div>
                            <div class="form-group">
                                <label>FULL NAME</label>
                                <input name="full_name" data-validation="required" class="form-control" type="text">
                            </div>
                            <div class="form-group">
                                <label>PHONE</label>
                                <input name="phone" class="form-control" type="text" data-validation="required" >
                            </div>
                        </div>
                    </div>
                    <button type="submit">SEND</button>
                    <div class="success" style="display:none;">
                        Thank you for getting in touch. We will contact you shortly.
                    </div>
                    <div class="error" style="display:none;">
                        Sorry, it looks like there was an error with your request.
                    </div>
                    <a class="purple" href="{{ current.fields.heading.additional_information }}" target="_blank">Download additional information ></a>
                </form>
                <div class="this-bg">
                    <img class="rounds rounds1" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="3" />
                   <img class="cross cross1" src="{{ static('images/menu-bg-item_13.png') }}" data-speed="2" />
                    <img class="boots" src="{{ static('images/menu-bg-item_46.png') }}" data-speed="2" />
                </div>
            </div>
        </div>
        <div class="banner background-image" style="background-image: url('{{ current.fields.heading.featured_image }}'); ">
        </div>
        <div class="mobile-banner">
            <img src="{{ current.fields.heading.featured_image }}" />
        </div>
    </div>
{% endblock %}

{% block initScripts %}
<script type="text/javascript">
$.validate();
$(document).ready(function() {
    Bento.Forms.initialize({formSelector: 'form'});
});
</script>
{% endblock %}