{% extends 'base.html' %}

{% block content %}
    <div class="home-slider">
        <div class="slide building">
            <!-- <img class="img-responsive" src="images/home-slider-img.jpg"> -->
         </div>
        <div class="slide building">
            <!-- <img class="img-responsive" src="images/home-slider-img.jpg"> -->
         </div>
        <div class="slide building">
            <!-- <img class="img-responsive" src="images/home-slider-img.jpg"> -->
         </div>
    </div>
{% endblock %}
