{% extends 'base.html' %}
{% block content %}
        <div class="menus">
            <div class="container">
                <div class="box-center first-one  big-box">
                    <h1>ALL DAY</h1>
                    <div class="row margin0">
                        <div class="col-md-6 padding0">
                            <h2>Starters</h2>
                            <div class="item">
                                <h3>WINGS <span>12</span></h3>
                                <p>Buffalo or BBQ</p>
                            </div>
                            <div class="item">
                                <h3>HUMMUS <span>15</span></h3>
                                <p>Seasonal Crudité & Flatbread</p>
                            </div>
                            <div class="item">
                                <h3>CROSQUETTES <span>14</span></h3>
                                <p>Rotisserie Chicken, Chorizo & Romesco</p>
                            </div>
                            <div class="item">
                                <h3>FRIED CALAMARI <span>14</span></h3>
                                <p>Spicy Marinara Sauce</p>
                            </div>
                            <div class="item">
                                <h3>OYSTERS <span>18/36</span></h3>
                                <p>Roasted Cucumber, Hot Sauce & Mignonette</p>
                            </div>
                            <div class="item">
                                <h3>SHISHITO PEPPERS <span>13</span></h3>
                                <p>Smoked Sea Salt</p>
                            </div>
                            <div class="item">
                                <h3>SHAVED BRUSSEL SPROUTS <span>15</span></h3>
                                <p>Fig, Ricotta & Pistachio Vinaigrette</p>
                            </div>
                            <div class="item">
                                <h3>PIGS IN A BLANKET <span>14</span></h3>
                                <p>Mustard</p>
                            </div>
                            <div class="item">
                                <h3>TUNA TARTAR <span>18</span></h3>
                                <p>Avocado, Radish, Harissa & Mezze Chips</p>
                            </div>
                            <div class="item">
                                <h3>YONAH SHIMMEL KNISH <span>14</span></h3>
                                <p>Ground Mustard</p>
                            </div>
                            <div class="item">
                                <h3>SHRIMP COCKTAIL <span>18</span></h3>
                            </div>
                            <div class="item">
                                <h3>BEECHER’S CHEESE PLATE <span>25</span></h3>
                            </div>
                            <h2>PIZZAS</h2>
                            <div class="item">
                                <h3>MARGARITA <span>14</span></h3>
                            </div>
                            <div class="item">
                                <h3>PROSCIUTTO <span>18</span></h3>
                                <p>Mozzarella, Parmesean & Roasted Garlic</p>
                            </div>
                            <div class="item">
                                <h3>WILD MUSHROOM <span>15</span></h3>
                            </div>
                        </div>
                        <div class="col-md-6 padding0">
                            <h2>SALADS</h2>
                            <div class="item">
                                <h3>HOUSE <span>12</span></h3>
                            </div>
                            <div class="item">
                                <h3>CLASSIC CAESAR <span>16</span></h3>
                                <p>Chopped Romaine, Parmesan & Croutons</p>
                            </div>
                            <div class="item">
                                <h3>COBB SALAD <span>18</span></h3>
                                <p>Rotisserie Chicken, Egg, Bacon, Avocado, Bleu Cheese & Meyer Lemon Vinaigrette</p>
                            </div>
                            <div class="item">
                                <h3>SHAVED KALE <span>16</span></h3>
                                <p>Puffed Faro, Hard Boiled Egg & Lemon</p>
                            </div>
                            <h2>MAINS</h2>
                            <div class="item">
                                <h3>P.E.I. MUSSELS <span>18</span></h3>
                                <p>White Wine & Fries</p>
                            </div>
                            <div class="item">
                                <h3>HOTDOG <span>12</span></h3>
                                <p>Pickle Guys Sauerkraut, Yellow Mustard & Fries</p>
                            </div>
                            <div class="item">
                                <h3>MR. PURPLE BURGER <span>15</span></h3>
                                <p>Beecher’s Flagship Cheddar & Fries</p>
                            </div>
                            <div class="item">
                                <h3>LES STREET TACOS <span>16</span></h3>
                                <p>Chicken, Steak or Mushroom</p>
                            </div>
                            <div class="item">
                                <h3>GRILLED CHEESE <span>16</span></h3>
                                <p>Gruyere , Ny Cheddar, Blistered Tomatoes & Filone</p>
                            </div>
                            <div class="item">
                                <h3>FRIED CHICKEN SANDWICH <span>15</span></h3>
                            </div>
                            <div class="item">
                                <h3>2ND AVE DELI CORNED BEEF ON RYE <span>18</span></h3>
                                <p>Brown Mustard</p>
                            </div>
                            <div class="item">
                                <h3>GRILLED HANGER STEAK <span>34</span></h3>
                                <p>Maitake Mushroom & Swiss Chard</p>
                            </div>
                            <h2>SIDES  <span>8</span></h2>
                            <div class="item">
                                <h3>BEECHER’S BAKED MAC & CHEESE</h3>
                                <p>Beecher’s cheese & breadcrumbs</p>
                            </div>
                            <div class="item">
                                <h3>HAND CUT FRIES</h3>
                            </div>
                            <div class="item">
                                <h3>CRISPY BRUSSEL SPROUTS</h3>
                                <p>Bacon & Local Maple Syrup</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-center right">
                    <h1>COFFEE & JUICE</h1>
                    <h2>COFFEE <span>(IRVING FARM)</span></h2>
                    <h3>COFFEE POT <span>6 PER PERSON</span></h3>
                    <h3>ICED COFFEE <span>5</span></h3>
                    <h3>CAFÉ LATTE <span>4</span></h3>
                    <h3>CAPPUCCINO <span>4</span></h3>
                    <h3>CAFÉ AMERICANO <span>3</span></h3>
                    <h3>ESPRESSO <span>3</span></h3>
                    <h3>EXTRA SHOT <span>.75</span></h3>
                    <h2>COLD PRESSSED JUICE <span>(LIQUITERIA) 8.75</span></h2>
                    <h3>MR. B</h3>
                    <h3>ALL GREENS WITH APPLE</h3>
                    <h3>GRASSHOPPER</h2>
                    <h3>ROYAL FLUSH</h3>
                    <h3>KILLER XX</h3>
                    <h3>APPLE</h3>
                    <h3>WATERMELON</h3>
                </div>
                <div class="box-center big-box">
                    <h1>BRUNCH</h1>
                    <div class="row margin0">
                        <div class="col-md-6 padding0">
                            <div class="item">
                                <h3>GREEK YOGURT & GRANOLA <span>12</span></h3>
                                <p>Assorted Berries & Local Honey</p>
                            </div>
                            <div class="item">
                                <h3>SEASONAL FRUIT SALAD <span>12</span></h3>
                                <p>Mint</p>
                            </div>
                            <div class="item">
                                <h3>STEEL CUT OATS <span>13</span></h3>
                                <p>Pistachio Crumble & Blueberries</p>
                            </div>
                            <div class="item">
                                <h3>CAGE FREE EGGS ANYWAY <span>18</span></h3>
                                <p>Bacon or Sausage, Roasted Potatoes & Toast</p>
                            </div>
                            <div class="item">
                                <h3>EGGS BENEDICT <span>21</span></h3>
                            </div>
                            <div class="item">
                                <h3>OMELETTE  <span>(EGG WHITE +$3) 19</span></h3>
                                <p class="italic">Choose Two Fillings: Sautéed Kale, Roasted Mushrooms, Blistered Tomato, Roasted Peppers, Onions, Ham, Bacon, Cheese</p>
                            </div>
                            <div class="item">
                                <h3>AVOCADO & SPRING PEA TOAST <span>15</span></h3>
                            </div>
                            <div class="item">
                                <h3>RUSS & DAUGHTERS LOX & BAGEL <span>24</span></h3>
                                <p>Whipped Cream Cheese, Tomato, Frisee & Capers</p>
                            </div>
                            <div class="item">
                                <h3>BACON, EGG & CHEESE SANDWICH <span>15</span></h3>
                            </div>
                            <div class="item">
                                <h3>BREAKFAST WRAP <span>15</span></h3>
                                <p>Egg, Bacon, American Cheese & Salsa</p>
                            </div>
                            <div class="item">
                                <h3>FRENCH TOAST <span>16</span></h3>
                                <p>Challah With Local Maple Syrup</p>
                            </div>
                            <h2>FLATBREADS</h2>
                            <div class="item">
                                <h3>MARGARITA <span>14</span></h3>
                            </div>
                            <div class="item">
                                <h3>PROSCIUTTO <span>18</span></h3>
                                <p>Mozzarella, Parmesan & Roasted Garlic</p>
                            </div>
                            <div class="item">
                                <h3>VEGGIE <span>17</span></h3>
                                <p>Seasonal Market Veggies</p>
                            </div>
                        </div>
                        <div class="col-md-6 padding0">
                            <h2>SALADS</h2>
                            <div class="item">
                                <h3>HOUSE <span>12</span></h3>
                            </div>
                            <div class="item">
                                <h3>CLASSIC CAESAR <span>16</span></h3>
                                <p>Chopped Romaine, Parmesan & Croutons</p>
                            </div>
                            <div class="item">
                                <h3>COBB SALAD <span>18</span></h3>
                                <p>Rotisserie Chicken, Egg, Bacon, Avocado, Bleu Cheese & Meyer Lemon Vinaigrette</p>
                            </div>
                            <div class="item">
                                <h3>SHAVED KALE <span>16</span></h3>
                                <p>Puffed Faro, Hard Boiled Egg & Lemon</p>
                            </div>
                            <h2>MAINS</h2>
                            <div class="item">
                                <h3>HOTDOG <span>12</span></h3>
                                <p>Pickle Guys Sauerkraut, Yellow Mustard & Fries</p>
                            </div>
                            <div class="item">
                                <h3>MR. PURPLE BURGER <span>15</span></h3>
                                <p>Beecher’s Flagship Cheddar & Fries</p>
                            </div>
                            <div class="item">
                                <h3>LES STREET TACOS <span>16</span></h3>
                                <p>Chicken, Steak or Mushroom</p>
                            </div>
                            <div class="item">
                                <h3>GRILLED CHEESE <span>16</span></h3>
                                <p>Gruyere, NY Cheddar, Blistered Tomatoes & Filone</p>
                            </div>
                            <div class="item">
                                <h3>FRIED CHICKEN SANDWICH <span>15</span></h3>
                            </div>
                            <div class="item">
                                <h3>2ND AVE DELI CORNED BEEF ON RYE <span>18</span></h3>
                                <p>Brown Mustard</p>
                            </div>
                            <h2>SIDES</h2>
                            <div class="item">
                                <h3>BEECHER’S BAKED MAC & CHEESE <span>8</span></h3>
                                <p>Beecher’s Cheese & Breadcrumbs</p>
                            </div>
                            <div class="item">
                                <h3>HAND CUT FRIES <span>8</span></h3>
                            </div>
                            <div class="item">
                                <h3>CRISPY BRUSSEL SPROUTS <span>9</span></h3>
                                <p>Bacon & Local Maple Syrup</p>
                            </div>
                            <div class="item">
                                <h3>YONAH SHIMMEL KNISH <span>14</span></h3>
                                <p>Stone Ground Mustard</p>
                            </div>
                            <div class="item">
                                <h3>APPLEWOOD SMOKED BACON <span>8</span></h3>
                            </div>
                            <div class="item">
                                <h3>SMOKY MAPLE LINKS <span>8</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-center left">
                    <h1>COCKTAILS</h1>
                    <h2>CLASSIC COCKTAILS <span>15</span></h2>
                    <div class="item">
                        <h3>GG MANHATTAN</h3>
                        <p>Woodford Reserve Bourbon, Carpano Antica Vermouth, Angostura Bitters</p>
                    </div>
                    <div class="item">
                        <h3>OLD FASHIONED</h3>
                        <p>Old Forester Bourbon, Demerara Syrup, Angostura & Orange Bitters</p>
                    </div>
                    <div class="item">
                        <h3>BOTTLED MOSCOW MULE</h3>
                        <p>Stolichnaya Vodka, Fresh Lime Juice, Fresh Ginger Juice</p>
                    </div>
                    <div class="item">
                        <h3>BOTTLED NEGRONI</h3>
                        <p>Bombay Sapphire, Campari, Dolin Rouge Vermouth, Orange Bitters</p>
                    </div>
                    <div class="item">
                        <h3>OLD CUBAN</h3>
                        <p>Bacardi 8 Rum, Mint, Fresh Lime Juice, Angostura Bitters, Domaine Chandon Sparkling</p>
                    </div>
                    <div class="item">
                        <h3>BLOOD AND SAND</h3>
                        <p>Macallan <span>12</span>, Cherry Heering, Dolin Rouge Vermouth, Orange Juice</p>
                    </div>
                    <div class="item">
                        <h3>KETTLE MARTINI</h3>
                        <p>Ketel One, Carpano Dry Vermouth. Choice of House-Stuffed Gorgonzola Olives or Twist</p>
                    </div>
                    <div class="item">
                        <h3>MR.P GIN AND TONIC</h3>
                        <p>Hendricks Gin, Lime Juice, House-Made Tonic Syrup, Soda Water</p>
                    </div>
                    <h2>HOT <span>15</span></h2>
                    <div class="item">
                        <h3>THIN MENTA</h3>
                        <p>Stoli Vanilla, Branca Menta, Semisweet Chocolate, Soy Milk</p>
                    </div>
                    <div class="item">
                        <h3>PORT AUTHORITY</h3>
                        <p>Taylor Fladgate Tawny Port, Hennessey vs, Apple Juice, Lemon Juice, Old Fashioned Bitters</p>
                    </div>
                    <h2>SPECIALTY COCKTAILS <span>15</span></h2>
                    <div class="item">
                        <h3>MR. PURPLE</h3>
                        <p>Casamigos Reposado Tequila, Cranberry Liqueur, Allspice Dram, Apple Juice, Lem- on Juice, Served Punch Style</p>
                    </div>
                    <div class="item">
                        <h3NEW FASHIONED <span>(20)</span>
                            </h3>
                            <p>Casamigos Anejo Tequila, Bittersweet Tiki Blend, Orange Twists</p>
                    </div>
                    <div class="item">
                        <h3>ELYX CUP</h3>
                        <p>Absolut Elyx Vodka, Cucumber, Mint, Fresh Lime Juice, Prosecco</p>
                    </div>
                    <div class="item">
                        <h3>GIRL NEXT DOOR</h3>
                        <p>Grey Goose Vodka, Byrrh, Mint, Blackber- ries, Lemon Juice, Soda Water</p>
                    </div>
                    <div class="item">
                        <h3>LADY IN RED</h3>
                        <p>Belvedere Vodka, Combier, Cranberry Liqueur, Fresh Lemon Juice</p>
                    </div>
                    <div class="item">
                        <h3>LES</h3>
                        <p>Jameson Black Barrel Whiskey, Appleton V/X Rum, Lime Juice, Grenadine, Nutmeg, Served Punch Style</p>
                    </div>
                    <div class="item">
                        <h3>BOTTLED USUAL SUSPECTS</h3>
                        <p>Pyrat XO Rum, Falernum, Pineapple Juice, Lime Juice, Angostura Bitters</p>
                    </div>
                </div>
                <div class="box-center right">
                    <h1>DESSERT</h1>
                    <div class="item">
                        <h3>IL LABORATORIO DEL GELATO <span>0</span></h3>
                        <p>Assorted flavors</p>
                    </div>
                    <div class="item">
                        <h3>MELT ICE CREAM SANDWICH <span>0</span></h3>
                    </div>
                    <div class="item">
                        <h3>SEASONAL PETEE PIE <span>0</span></h3>
                    </div>
                    <div class="item">
                        <h3>ASSORTED TRUFFLES <span>0</span></h3>
                    </div>
                </div>
                <div class="box-center right lower">
                    <h1>BEER</h1>
                    <h2>ON TAP <span>7</span></h2>
                    <div class="item">
                        <h3>MR PURPLE IPA,<span class=
                            "origin">by Captain Lawrence, Elmsford, NY</span></h3>
                    </div>
                    <div class="item">
                        <h3>SIXPOINT CRISP,<span class=
                            "origin">Brooklyn, NY</span></h3>
                    </div>
                    <div class="item">
                        <h3>ROCKAWAY ESB,<span class=
                            "origin">Queens, NY</span></h3>
                    </div>
                    <div class="item">
                        <h3>MR PURPLE IPA,<span class=
                            "origin">Bronx, NY</span></h3>
                    </div>
                    <h2>CANS</h2>
                    <div class="item">
                        <h3>NARRAGANSETT LAGER, RI <span>6</span></h3>
                    </div>
                    <div class="item">
                        <h3>SIXPOINT BENGALI TIGER IPA,</h3>
                        <p>Brooklyn, NY <span>7</span></p>
                    </div>
                    <div class="item">
                        <h3>MODELO ESPECIAL <span>6</span></h3>
                    </div>
                    <div class="item">
                        <h3>CORONA / CORONA LIGHT <span>6</span></h3>
                    </div>
                    <div class="item">
                        <h3>HEINEKEN / HEINEKEN LIGHT <span>7</span></h3>
                    </div>
                    <div class="item">
                        <h3>AMSTEL LIGHT <span>7</span></h3>
                    </div>
                    <h2>BEER & SHOT <span>12</span></h2>
                    <div class="item">
                        <h3>NUMBER ONE</h3>
                        <p>Tullamore Dew & Narragansett Lager</p>
                    </div>
                    <div class="item">
                        <h3>NUMBER TWO</h3>
                        <p>Milagro Silver & Modelo Especial</p>
                    </div>
                    <div class="item">
                        <h3>NUMBER THREE</h3>
                        <p>Woodford Rye & Mr. Purple IPA</p>
                    </div>
                </div>
                <div class="box-center left">
                    <h1>WINE<span>(BY THE GLASS)</span></h1>
                    <h2>WHITE</h2>
                    <div class="item">
                        <h3>PINOT GRIGIO <span>10</span></h3>
                        <p>Gabbiano Promessa, Italy</p>
                    </div>
                    <div class="item">
                        <h3>SAUVIGNON BLANC <span>13</span></h3>
                        <p>Whitehaven, New Zealand</p>
                    </div>
                    <div class="item">
                        <h3>SAUVIGNON BL ANC – 

SEMILLON <span>14</span></h3>
                        <p>Cape Mentelle, Margaret River, AU</p>
                    </div>
                    <div class="item">
                        <h3>VIOGNER <span>12</span></h3>
                        <p>Bonterra, Mendocino, CA</p>
                    </div>
                    <div class="item">
                        <h3>CHARDONNAY <span>15</span></h3>
                        <p>Sonoma Cutrer, Russian River, CA</p>
                    </div>
                    <h2>ROSE</h2>
                    <div class="item">
                        <h3>WHISPERING ANGEL <span>13</span></h3>
                        <p>Cotes de Provence, France</p>
                    </div>
                    <h2>RED</h2>
                    <div class="item">
                        <h3>PINOT NOIR <span>14</span></h3>
                        <p>Lyric by Etude, Santa Barbara, CA</p>
                    </div>
                    <div class="item">
                        <h3>MALBEC <span>11</span></h3>
                        <p>Colores del Sol, Argentina</p>
                    </div>
                    <div class="item">
                        <h3>COTES DU RHONE <span>10</span></h3>
                        <p>Chapoutier, Rhone, France</p>
                    </div>
                    <div class="item">
                        <h3>NAPA VALLEY CLARET <span>12</span></h3>
                        <p>Newton, Napa, CA</p>
                    </div>
                    <div class="item">
                        <h3>CABERNET, BONTERRA <span>13</span></h3>
                        <p>Mendocino, CA</p>
                    </div>
                    <div class="item">
                        <h3>CABERNET SAUVIGNON <span>15</span></h3>
                        <p>Penfolds Bin 9, Barossa Valley, AU</p>
                    </div>
                    <h2>SPARKLING</h2>
                    <div class="item">
                        <h3>LA MARCA PROSECCO <span>13</span></h3>
                        <p>Veneto, Italy</p>
                    </div>
                    <div class="item">
                        <h3>DOMAINE CHANDON <span>14</span></h3>
                        <p>Napa Valley, CA</p>
                    </div>
                    <div class="item">
                        <h3>VUEVE CLICQUOT<br>

YELLOW LABEL <span>22</span></h3>
                        <p>Reims, France</p>
                    </div>
                    <div class="item">
                        <h3>MOET ROSE EPERNAY <span>24</span></h3>
                        <p>France</p>
                    </div>
                </div>
                <div class="box-center big-box">
                    <div class="row margin0">
                        <div class="col-md-6 padding0 has-border">
                            <h1>WHITE</h1>
                            <h2>HALF BOTTLES</h2>
                            <div class="item">
                                <h3>PINOT GRIGIO <span class="origin">Santa Margherita, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>SANCERRE <span class="origin">Pascal Jolivet, Loire, France</span></h3>
                            </div>
                            <div class="item">
                                <h3>FIANO <span class="origin">Castello Monaci, Puglia, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>SAUVIGNON BLANC <span class="origin">Honig, Napa Valley, CA</span></h3>
                            </div>
                            <h2>WINES BY THE BOTTLE</h2>
                            <span class="dollar">$40</span>
                            <div class="item">
                                <h3>PINOT GRIGIO <span class="origin">Attems, Friuli, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>PINOT GRIS <span class="origin">J Vineyards, Russian River, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>VERMENTINO <span class="origin">Terre Di Talmo, Tuscany, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>CHARDONNAY <span class="origin">St Clement, Napa, CA</span></h3>
                            </div>
                            <span class="dollar">$60</span>
                            <div class="item">
                                <h3>PINOT GRIS <span class="origin">King Estate ‘Singature Collection’, OR</span></h3>
                            </div>
                            <div class="item">
                                <h3>ARNEIS <span class="origin">Bruno Giacosa, Piedmonte, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>SANCERRE <span class="origin">Domaine La Barbotaine, Loire, France</span></h3>
                            </div>
                            <div class="item">
                                <h3>CHARDONNAY <span class="origin">Groth, Napa, CA</span></h3>
                            </div>
                            <span class="dollar">$80</span>
                            <div class="item">
                                <h3>SANCERRE <span class="origin">La Poussie, Loire, France</span></h3>
                            </div>
                            <div class="item">
                                <h3>SAUVIGNON <span class="origin">Blanc, Cloudy Bay, New Zealand</span></h3>
                            </div>
                            <div class="item">
                                <h3>VIURA <span class="origin">Placet Palacios Remondo, Rioja, Spain</span></h3>
                            </div>
                            <div class="item">
                                <h3>CHARDONNAY <span class="origin">Cakebread, Napa, CA</span></h3>
                            </div>
                            <h2>SPARKLING</h2>
                            <div class="item">
                                <h3>PROSECCO <span class="origin">PROSECCO Lamarca, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>DOMAINE CHANDON BRUT <span class="origin">Napa Valley, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>VEUVE CLICQUOT YELLOW LABEL <span class="origin">Reims, France</span></h3>
                            </div>
                            <div class="item">
                                <h3>MOET IMPERIAL BRUT ROSE <span class="origin">Epernay, France</span></h3>
                            </div>
                            <div class="item">
                                <h3>RUINART BLANC DE BLANC <span class="origin">La Poussie, Loire, France</span></h3>
                            </div>
                            <div class="item">
                                <h3>DOM PERIGNON <span class="origin">Epernay, France</span></h3>
                            </div>
                        </div>
                        <div class="col-md-6 padding0">
                            <h1>RED</h1>
                            <div class="item">
                                <h3>Pinot Noir <span class="origin">Etude, Carneros, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>CABERNET <span class="origin">Stags Leap, Napa Valley, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>ZINFANDEL <span class="origin">Ridge, Lytton Springs, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>BRUNELLO DI MONTALCINO <span class="origin">Castello Banfi, Tuscany, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>VALPOLICELLA <span class="origin">Allegrini, Veneto, Italy</span></h3>
                            </div>
                            <div class="item">
                                <h3>PINOT NOIR <span class="origin">Macmurray Ranch, Russian River, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>CABERNET SAUVIGNON <span class="origin">Bonterra, Mendocino, CA</span></h3>
                            </div>
                            <div class="item">
                                <h3>ZINFANDEL <span class="origin">Freis Brothers, Sonoma, CA</span></h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="this-bg">
                    <img class="rounds rounds1" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="2" />
                    <img class="rounds rounds2" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="3" />
                   <img class="rounds rounds3" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="rounds rounds4" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="3" />
                    <img class="rounds rounds5" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="4" />
                    <img class="rounds rounds6" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="5" />
                    <img class="rounds rounds7" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="rounds rounds8" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="2" />
                    <img class="rounds rounds9" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="rounds rounds10" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="rounds rounds11" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="4" />
                    <img class="cross cross1" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="cross cross2" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="3" />
                    <img class="cross cross3" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="cross cross4" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="2" />
                    <img class="cross cross5" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="3" />
                    <img class="cross cross6" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="4" />
                    <img class="cross cross7" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="cross cross8" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="cross cross9" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="2" />
                    <img class="cross cross10" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="3" />
                    <img class="cross cross11" src="{{ static('images/menu-bg-item_06.png') }}" data-speed="1" />
                    <img class="head" src="{{ static('images/menu-bg-item_03.png') }}" data-speed="2" />
                    <img class="head head2" src="{{ static('images/menu-bg-item21.png') }}" data-speed="1" />
                    <img class="head head3" src="{{ static('images/menu-bg-item_033.png') }}" data-speed="3" />
                    <img class="kost" src="{{ static('images/menu-bg-item_11.png') }}" data-speed="2" />
                    <img class="kost kost2" src="{{ static('images/menu-bg-item_003_03.png') }}" data-speed="1" />

                    <img class="hands" src="{{ static('images/menu-bg-item_1.png') }}" data-speed="4" />

                    <img class="hands hands2" src="{{ static('images/hands1.png') }}" data-speed="3" />

                    <img class="hands-second" src="{{ static('images/menu-bg-item_42.png') }}" data-speed="5" />
                    
                    <img class="hands-second hands-second2" src="{{ static('images/hands2.png') }}" data-speed="1" />
                    <img class="xzbz" src="{{ static('images/menu-bg-item_22.png') }}" data-speed="4" />

                    <img class="xzbz xzbz2" src="{{ static('images/menu-bg-item_22.png') }}" data-speed="2" />

                     <img class="pants" src="{{ static('images/menu-bg-item_26.png') }}" data-speed="4" />

                     <img class="xzbz-big" src="{{ static('images/menu-bg-item_29.png') }}" data-speed="5" />
                      <img class="xzbz-big xzbz-big2" src="{{ static('images/menu-bg-item_29.png') }}" data-speed="1" />
                      <img class="boots" src="{{ static('images/menu-bg-item_46.png') }}" data-speed="3" />

                      <img class="boots-purple" src="{{ static('images/menu-bg-item_34.png') }}" data-speed="2" />

        
        
                  
                    
                    

                </div>
            </div>
        </div>
{% endblock %}